doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Musik

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 Musik
      section
        h2 sejarah musik
        p Musik dikenal sejak kehadiran manusia modern Homo sapien yakni sekitar 180.000 hingga 100.000 tahun yang lalu. Dari penemuan arkeologi pada lokasi-lokasi seperti pada benua Afrika sekitar 180.000 tahun hingga 100.000 tahun dahulu telah menunjukkan perubahan evolusi dari pemikiran otak manusia.Dalam kehidupan yang berpindah-pindah, mereka mungkin mendapat inspirasi untuk mengambil tulang kaki kering hewan buruan yang menjadi makanan mereka kemudian meniupnya dan mengeluarkan bunyi. Ada juga yang mendapat inspirasi ketika memperhatikan alam dengan meniup rongga kayu atau bambu yang mengeluarkan bunyi. Kayu dibentuk lubang tiup dan menjadi suling purba.

      section
        h2 lanjutan. . .
        p Manusia menyatakan perasaan takut mereka dan gembira menggunakan suara-suara. Bermain-main dengan suara mereka menjadi lagu, hymne atau syair nyanyian kecil yang diinspirasikan oleh kicauan burung. Kayu-kayu dan batuan keras dipukul untuk mengeluarkan bunyi dan irama yang mengasyikkan. Mungkin secara tidak sengaja mereka telah mengetuk batang pohon yang berongga di dalamnya dengan batang kayu yang mengeluarkan bunyi kuat. Kulit binatang yang mereka gunakan sebagai pakaian diletakkan pula untuk menutup rongga kayu tersebut besar menjadi gendang.

      section
        h2 Definisi Musik
        h3 Musik merupakan bunyi yang diterima oleh individu atau kelompok berdasarkan sejarah, budaya, lokasi dan selera. Definisi musik sangat luas.

      section
        h3 Menurut Kamus Besar Bahasa Indonesia yaitu:
        ul
          li 
            p ilmu atau seni penyusunan nada/suara, kombinasi, dan hubungan temporal untuk menghasilkan komposisi (suara) yg mempunyai kesatuan & kesinambungan. 
          li 
            p Nada atau suara yang disusun sedemikian rupa sehingga mengandung irama, lagu, dan keharmonisan (terutama yang menggunakan alat-alat yang dapat menghasilkan bunyi-bunyi itu)

      section 
        h2 Jenis Suara
        p Suara musik terbagi atas 2 yaitu suara manusia/penyanyi dan suara alat musik.
      section
        h3 suara penyanyi
        p suara penyanyi dikategorikan menurut jenis kelaminnya yaitu
        ul
          li 1.suara laki laki
          ul
            li tenor(suara tinggi) adalah jenis suara tinggi pada penyanyi pria.
            li bariton(suara menengah) adalah jenis suara yang umum bagi pria dewasa antara suara bass dan tenor.
            li bas(suara rendah) adalah jenis suara rendah penyanyi pria, nada bass bisa dihasilkan baik dari suara manusia ataupun dari alat musik.
          li 2.suara perempuan
          ul
            li sopran(suara tinggi) adalah jenis suara tinggi dalam klasifikasi vokal pada budaya musik klasik barat.
            li mezzo-sopran(suaran menengah) adalah suara penyanyi wanita yang lebih rendah dari sopran namun lebih tinggi dari kontralto.
            li kontralto/alto(suara rendah) adalah tipe suara rendah untuk seorang wanita, dengan tessitur terendah, berada di antara tenor dan mezzo-sopran.
      section
        h3 suara alat musik
        p alat musik di kategorikan menurut suara atau bunyinya yaitu
        ul
          li idiophone adalah Alat musik jenis ini menggunakan getaran pada badan alat musik itu sendiri sebagai sumber bunyi. Contoh alat musik idiophone adalah bel, kulintang, simbal, marakas, dan gong.
          li membranophone adalah alat musik yang sumber bunyinya berupa membran. Contoh alat musik jenis ini adalah drum, kendang, dan rebana.
          li chordophone adalah alat musik yang menggunakan dawai yang dibentangkan secara kuat antara dua titik tertentu. Contoh alat musik jenis ini adalah gitar, biola, harpa, dan piano. 
          li Aerophone adalah jenis alat musik lainnya yang menggunakan sumber bunyi berupa udara. Contoh alat musik aerophone adalah flute, terompet, harmonika, dan akordion.
          li Jenis terakhir adalah electrophone. Jenis ini baru muncul belakangan seiring munculnya alat musik eletrik.Contoh alat musik electrophone ini adalah keyboard dan gitar elektrik.
      section
        h2 Jenis Musik
      section
        h3 1. Musik Seni (Art Music)
        ul 
          li  Musik Seni atau sering disebut juga Musik Serius dan musik-musik sejenis (musik avant garde, kontemporer)adalah sebuah istilah pengelompokan jenis musik yang mengacu pada teori bentuk musik Klasik Eropa atau jenis-jenis musik etnik lainnya yang di serap atau diambil sebagai dasar komposisinya. Berbeda dengan musik Populer atau musik masa, musik jenis ini biasanya tidak lekang dimakan waktu, sehingga bertahan berabad-abad lamanya. Tokoh-tokoh komponis Indonesia yang menciptakan jenis musik seperti ini antara lain: Amir Pasaribu, Tri Suci Kamal, Slamet Abdul Syukur, Rahayu Supanggah, Otto Sidharta, Tony Prabowo, Michael Asmara, I Wayan Sadre, Iwan Gunawan, Dody Satya E. Gustdiman dsb.
      Section
        h3 2. Musik Klasik
        ul
          li Musik klasik biasanya merujuk pada musik klasik Eropa, tapi kadang juga pada musik klasik Persia, India, dan lain-lain. Musik klasik Eropa sendiri terdiri dari beberapa periode, misalnya barok, klasik, dan romantik.
          li Musik klasik merupakan istilah luas, biasanya mengacu pada musik yang berakar dari tradisi kesenian Barat, musik kristiani, dan musik orkestra, mencakup periode dari sekitar abad ke-9 hingga abad ke-21.
          li Musik klasik Eropa dibedakan berdasarkan dari bentuk musiknya, non-Eropa dan musik populer terutama oleh sistem notasi musiknya, yang sudah digunakan sejak abad ke-16. Notasi musik barat digunakan oleh komponis untuk memberi petunjuk kepada pembawa musik mengenai tinggi nada, kecepatan, metrum, ritme individual, dan pembawaan tepat suatu karya musik. Hal ini membatasi adanya praktik-praktik seperti improvisasi dan ornamentasi ad libitum yang sering didengar pada musik non-Eropa (bandingkan dengan musik klasik India dan musik tradisional Jepang) maupun musik populer.
      section
          ul
            li Dahulu musik klasik di Eropa terutama digunakan untuk keperluan lagu di Gereja ataupun lagu untuk pengiringan Raja. Sejalan dengan perkembangan, mulai juga bermunculan musik klasik yang digunakan untuk keperluan lain, seperti misalnya musik klasik yang menggambarkan visual secara audio, contohnya lagu Cat and Mouse yang menggambarkan kucing mengejar tikus tau.

      Section
        h3 3. Musik Blues
        ul 
          li Blues berasal dari masyarakat Afro-Amerika yang berkembang dari musik Afrika barat. Jenis ini kemudian memengaruhi banyak genre musik pop saat ini, termasuk ragtime, jazz, big band, rhythm and blues, rock and roll, country, dan musik pop.
          li Blues dapat dibagi menjadi beberapa subgenre mulai dari negara untuk blues perkotaan yang lebih atau kurang populer selama periode yang berbeda dari abad ke-20. 
          li Istilah "blues" mengacu pada "Blues Devil", yang berarti melankolis dan kesedihan, penggunaan awal istilah dalam pengertian ini ditemukan pada George Colman s 'satu babak sandiwara Blue Devils (1798). 
      section
        p Musik blues berangkat dari musik-musik spiritual dan pujian yang muncul dari komunitas mantan budak-budak Afrika di AS. Penggunaan nada blue dan penerapan pola call-and-response (di mana dua kalimat diucapkan/dinyanyikan oleh dua orang secara berurutan dan kalimat keduanya bisa dianggap sebagai "jawaban" bagi kalimat pertama) dalam musik dan lirik lagu-lagu blues adalah bukti asal usulnya yang berpangkal di Afrika Barat. Di era kini banyak Blues Lovers lahir. Mereka menyimak, belajar, menulis, memainkan, dan membuat album.

      section
        h3 4. dangdut
        p Dangdut merupakan salah satu dari genre seni musik Indonesia yang mengandung unsur-unsur musik Hindustan atau India klasik dikarenakan menggunakan alat musik utama dangdut yaitu Tabla yang merupakan alat musik dari India, Pakistan, dan khususnya Asia Selatan, kemudian berkembang ke Indonesia yang berakar dari pedagang Gujarat yang juga menyebarkan agama Islam pada zaman itu. Sehingga dangdut memiliki unsur Melayu dan Arab. Dangdut juga dipengaruhi musik India melalui film Bollywood oleh Ellya Khadam dengan lagu Boneka India, dan terakhir lahir sebagai Dangdut tahun 1968 dengan tokoh utama Rhoma Irama.  
  
      section 
        h3 5. Reggae
        p Reggae adalah genre musik pertama kali dikembangkan di Jamaika pada akhir tahun 1960 musik ini muncul karena adanya peralihan selera musik masyarakat Jamaika dari Ska dan Rocsteady.istilah reggae lebih tepatnya merujuk pada gaya musik khusus yang muncul mengikuti perkembangan ska dan rocksteady
      section
        p Reggae berbasis pada gaya ritmis yang bercirikan aksen pada off-beat atau sinkopasi, yang disebut sebagai skank. Pada umumnya reggae memiliki tempo lebih lambat daripada ska maupun rocksteady. Biasanya dalam reggae terdapat aksentuasi pada ketukan kedua dan keempat pada setiap bar, dengan gitar rhythm juga memberi penekanan pada ketukan ketiga; atau menahan kord pada ketukan kedua sampai ketukan keempat dimainkan. Utamanya "ketukan ketiga" tersebut, selain tempo dan permainan bassnya yang kompleks yang membedakan reggae dari rocksteady, meskipun rocksteady memadukan pembaruan-pembaruan tersebut secara terpisah.

      section
        h3 6. Musik Pop
        p Musik pop (istilah yang awalnya berasal dari singkatan dari "populer") adalah sebuah genre musik dari musik populer yang berasal dalam bentuk modern pada 1950-an, yang berasal dari rock and roll.[1] Istilah musik populer dan musik pop sering digunakan secara bergantian, meskipun yang pertama adalah deskripsi musik yang populer (dan dapat termasuk gaya apapun), sedangkan yang terakhir adalah genre tertentu yang mengandung kualitas daya tarik massa.

      section
        p Sebagai genre, musik pop sangat eklektik, sering meminjam elemen dari gaya-gaya lain termasuk urban, dance, rock, latin dan country.
        p Musik pop umumnya dianggap sebagai sebuah genre yang komersial dicatat dan keinginan untuk memiliki daya tarik audiens massa.
      section
        h3 sejarah Musik Pop
        p Pada akhir 1950-an muncul genre pop sesudah memudarnya era rock and roll. Pop tahap awal dipengaruhi oleh susunan beat dan gaya rock and roll (dan kadang-kadang doo-wop), tapi tidak terlalu keras seperti rock n roll.
        p Menjelang berakhirnya tahun 1960-an, genre pop/rock mulai dipengaruhi psikedelik dan blue-eyed soul.
        p Pada tahun 1970-an, pop makin cenderung lembut, misalnya seperti musik pop yang dibawakan Burt Bacharach.

      section
        h3 7. Musik RnB
        p R&B (ditulis juga RnB, merupakan singkatan dari rhythm and blues) adalah genre musik populer yang menggabungkan jazz, gospel, dan blues, aliran jenis ini pertama kali diperkenalkan oleh pemusik Afrika-Amerika.
      section
        p Istilah ini pertama kali dipakai sebagai istilah pemasaran dalam musik di Amerika Serikat pada tahun 1947 oleh Jerry Wexler yang bekerja pada majalah Billboard.
        p Istilah ini RnB menggantikan istilah musik ras dan kategori Billboard Harlem Hit Parade pada Juni 1949.
      section
        h3 sejarah RnB
        p Tahun 1948, RCA Victor memasarkan musik kulit hitam dengan nama Blues and Rhythm. Frasa tersebut dibalik oleh Wexler di Atlantic Records, yang menjadi perusahaan rekaman yang memimpin bidang R&B pada tahun-tahun awal.
        p Dan sekarang aliran jenis RnB ini paling digemari diseluruh dunia
      section
        h3 8. musik rock
        p Musik rock adalah genre musik populer yang mulai diketahui secara umum pada pertengahan tahun '50-an. Akarnya berasal dari rhythm and blues, musik country dari tahun '40 dan '50-an serta berbagai pengaruh lainnya. Selanjutnya, musik rock juga mengambil gaya dari berbagai musik lainnya, termasuk musik rakyat (folk music), jazz dan musik klasik.
      section
        p Bunyi khas dari musik rock sering berkisar sekitar gitar listrik atau gitar akustik, dan penggunaan back beat yang sangat kentara pada rhythm section dengan gitar bass dan drum, dan kibor seperti organ, piano atau sejak '70-an, synthesizer. Di samping gitar atau kibor, saksofon dan harmonika bergaya blues kadang digunakan sebagai instrumen musik solo. Dalam bentuk murninya, musik rock "mempunyai tiga chords, backbeat yang konsisten dan mencolok dan melodi yang menarik".
      section
        h3 asal usul rock
        p Dasar dari musik rock adalah rock and roll, yang berasal dari Amerika Serikat selama akhir 1940an dan awal 1950an, dan dengan cepat menyebar ke penjuru dunia. Genre ini berasal dari musik kulit hitam yang beragam pada waktu itu, termasuk rhythym and blues dan musik rohani, dengan country and western. Pada tahun 1951, DJ asal Cleveland, Ohio Alan Freed mulai memainkan musik rhythym and blues untuk para penonton multi-ras, dan disebut sebagai yang pertama menggunakan frase “rock and roll” untuk menjelaskan musik ini.
      section
        h3 zaman keemasan musik rock
        p pada masa adanya musik rock bermunculan berbagai musik yang menggunakan musik rock sebagai dasarnya dan menjadikan musik rock semakin popular pada zaman nya yaitu
        ul
          li Garage rock
          li pop rock
          li blues rock
          li folk rock
          li Psychedelic rock
      

      section
        h3 9. gospel
        p Musik gospel adalah sebuah genre musik yang dicirikan oleh vokal yang dominan (seringkali dengan menggunakan harmoni yang kuat), liriknya yang bersifat religius, khususnya Kristen. 
    
      Section
        h3  Sejarah Musik Gospel
        ul

          li  Orang kulit putih menciptakan white gospeldengan memadukan black gospel dengan musik religius asli yang biasa diperdengarkan di gereja-gereja orang kulit putih di Amerika Selatan. Pemisahan aliran berdampak pada munculnya perbedaan antara cara menyanyikannya. Ketika pertentangan dua kubu agak memudar dalam puluhan tahun kemudian, masih terdapat cara menyanyikan gospel yang berbeda di gereja ras kulit putih dan hitam di Amerika. 
          li  musik ini berkembang pesat di seluruh dunia termasuk di Australia. Paduan suara seperti The Elementals dan Jonah & The Whalers banyak membawakan tembang gospel di beberapa festival seperti Festival Musik Gospel Australia.

      section
        h3 subgenre musik gospel
        ul
          li gospel country, yaitu sebuah sebuah subgenre dari musik gospel dengan gaya country.
          li gospel selatan progresif, yaitu sebuah subgenre musik amerika yang muncul dari gospel southern selama beberapa dasawarsa terakhir.
          li gospel bluegrass, yaitu subgenre yang berakar dalam musik pegunungan di amerika.

      section
        h3 10. Jazz 
        p Jazz adalah jenis musik yang tumbuh dari penggabungan blues, ragtime, dan musik Eropa, terutama musik band. 
        p Beberapa subgenre jazz adalah : 
        ul
            li Dixieland
            li swing
            li bebop 
            li hard bop 
            li cool jazz  
            li free jazz 
            li jazz fusion 
            li smooth jazz dan 
            li CafJazz
      section
        h3 Awal mula musik jazz
        p Musik jazz sebagai seni yang populer mulai menyebar ke hampir semua masyarakat Amerika pada tahun 1920-an (dikenal sebagai Jazz Age ). Jazz semakin marak di era swing pada akhir 1930-an, dan mencapai puncaknya di akhir 1950-an sebagai jazz modern. Di awal tahun 20-an dan 30-an, “jazz” telah menjadi sebuah kata yang dikenal umum.

        p Sejarah dan perkembangan musik jazz,dibagi dalam beberapa fase/era. Dari fase Dixieland dan Ragtime pada awalnya, kemudian era swing dan bigband (1930-1940), era bebop (pertengahan 1940), latin jazz (1950-1960an), jazz rock atau fusion (1970-an) dan perkembangan terakhir yang melahirkan fase dan era baru seperti acid jazz, funk jazz, cross music dan sebagainya.

      section
        h3 11.jenis musik latin / Amerika Latin

        p Music latin/Musik Amerika Latin adalah Genre musik tradisional latin yang biasanya merujuk pada musik Amerika latin termasuk musik dari Meksiko, Amerika Tengah, Amerika Selatan, dan Karibia. Musik latin ini memiliki subgenre Samba. musik dari semua negara di Amerika Latin (dan Karibia) dan muncul dalam banyak varietas. 

        p Amerika Latin adalah rumah bagi gaya musik seperti sederhana, musik conjunto pedesaan utara Meksiko, Kuba habanera canggih, suara yang berirama dari Puerto Rico plena yang simfoni dari Heitor Villa-Lobos, dan sederhana dan bergerak Andes suling. 

      section
        h3 sejarah musik latin /amerika latin
        p Kedatangan Spanyol dan musik mereka menggembar-gemborkan awal musik Amerika Latin. Pada saat itu, bagian dari Spanyol dikuasai oleh bangsa Moor dari Afrika Utara, yang ditoleransi banyak kelompok etnis. Orang-orang ini, seperti Roma, orang Yahudi dan Kristen Spanyol masing-masing memiliki gaya mereka sendiri musik, seperti yang dilakukan orang Moor, yang berkontribusi pada evolusi awal dari musik Latin. 

      section
        h3 karakteristik musik latin / amerika latin
        p Ada banyak beragam gaya musik Latin, beberapa di antaranya Afro-Amerika merupakan tradisi musik, yang berarti bahwa unsur-unsur dari Eropa, Afrika, dan pribumi musik yang menyatu.berbagai penulis  Telah mengusulkan posisi ekstrem seperti musik Amerika Latin menjadi Afrika kehilangan pengaruh, atau menjadi murni Afrika tanpa Eropa atau unsur-unsur pribumi, tetapi sekarang secara umum diterima bahwa musik Amerika Latin sinkretis.

        p Unsur-unsur musik Afrika lainnya yang paling menonjol dalam musik religius dari aneka tradisi sinkretis, seperti Brasil dan Kuba Candomblé Santería.

        p Sinkopasi, teknik musik yang beraksen ketukan lemah, bukan yang kuat, adalah ciri utama dari musik Latin Afrika penekanan pada ritme juga penting dalam musik Latin, dan dinyatakan melalui keunggulan yang diberikan kepada instrumen perkusi.

      section
        h3  12. Musik Country
        p Musik country adalah campuran dari sejumlah unsur musik Amerika yang berasal dari Amerika Serikat Bagian Selatan dan Pegunungan Appalachia.
        p Musik ini berakar dari lagu rakyat Amerika Utara, musik kelt, musik gospel, dan berkembang sejak tahun 1920-an.
      
      section 
        h3 asal usul musik country
        p Imigran yang tiba di Amerika Utara dan menetap di selatan Pegunungan Appalachia membawa serta alat musik dari Eropa berikut irama musik yang telah dikenal mereka selama 300 tahun. 
        p Orang Irlandia membawa fiddle (biola), orang Jerman membawa alat musik petik dulcimer, orang Italia membawa mandolin, orang Spanyol membawa gitar, dan orang Afrika membawa banjo Interaksi antarmusisi dari berbagai kebangsaan menghasilkan musik khas Amerika Utara yang sering disebut musik rakyat Amerika Utara (old-time music).
      section
        h3 subgenre musik country
        ul
          li bakersfield sound
          li musik bluegrass
          li nashville sound
          li neotraditional country
          li outlaw country
          li red dirt
          li texas country

      section 
        h2 alat musik
      section
        h3 1. gitar
        p Gitar adalah sebuah alat musik berdawai yang dimainkan dengan cara dipetik, umumnya menggunakan jari maupun plektrum. Gitar terbentuk  atas sebuah bagian tubuh pokok dengan bagian leher yang padat sebagai tempat senar yang umumnya berjumlah enam didempetkan. Gitar secara tradisional dibentuk dari berbagai jenis kayu dengan senar yang terbuat dari nilon maupun baja.

      section
        p Beberapa gitar modern dibuat dari material polikarbonat. Secara umum, gitar terbagi atas 2 jenis: 
        ul
          li Gitar akustik, dengan bagian badannya yang berlubang (hollow body), telah digunakan selama ribuan tahun. Terdapat tiga jenis utama gitar akustik modern: Gitar akustik senar-nilon, gitar akustik senar-baja, dan gitar senar archtop.
          
          li Gitar Elektrik, diperkenalkan pada tahun 1930an, bergantung pada penguat yang secara elektronik mampu memanipulasi bunyi gitar(amplifier). Pada permulaan penggunaannya, gitar elektrik menggunakan badan berlubang (hollow body), namun kemudian penggunaan badan padat (solid body) dirasa lebih sesuai. Gitar elektrik terkenal luas sebagai instrumen utama pada berbagai genre musik seperti blues, country, reggae, jazz, metal, rock, dan berbagai bentuk musik pop.

      section
        h3 2. piano
        p piano adalah alat musik yang dimainkan dengan jari-jemari tangan
        p pemain piano disebut pianis

      section
        h3 3. Drum
        p drum adalah kelompok alat musik perkusi yang terdiri dari kulit yang direntangkan dan dipukul dengan tangan atau sebuah batang.
        img(src='images/DrumSet.jpg', width='305', height='240')

      section
        h3 4. biola
        p Pengertian Biola
        ul
          li Biola adalah sebuah alat musik dawai yang dimainkan dengan cara digesek.
          li Sebuah nama yang lazim dipakai untuk biola ialah fiddle, dan biola seringkali disebut fiddle jika digunakan untuk memainkan lagu-lagu tradisional 
          li Di dalam bahasa Indonesia, orang yang memainkan biola disebut pemain biola atau violinis (bahasa Inggris: Violinist - bedakan dengan violis atau pemain viola). Orang yang membuat atau membetulkan alat musik berdawai disebut luthier.
		  
	img(src='images/Biola.jpg', width='305', height='240')
      		
      section
        h2 TOKOH-TOKOH MUSIK MODERN
        p Tokoh musik adalah orang yang mendukung atau mengabadikan karyanya bahkan hidupnya untuk perkembangan musik. Dalam setiap jenis musik pasti ada tokoh yang berperan dalam sejarah dan perkembangan musik tersebut.
      section
        h3 1. Tokoh Musik Klasik
        ul
          li a. Zaman Renaisans (1450 – 1600), yaitu: Giovanni Pierluigi da Palestina, Orlande de Lassus dan William Byrd. 
          li b. Zaman Barok (1600 – 1750), yaitu: Claudio Monteverdi, Henry Purcell, Johann Sebastian Bach, George Frideric Handel, dan Antonio Vivaldi.
          li c. Zaman Klasik, yaitu: Joseph Haydn, Muzio Clementi, Johann Ladislaus Dussek, dan Carl Philip Emanuel Bach. Komponis paling terkenal pada zaman ini adalah Wolfgang Amadeus Mozart dan Ludwig van Beethoven.
          li d. Zaman Romantik (1815-1910), yaitu: Franz Scubert, johann Strauss Sr., Felix Mendelsoohhn, Frederich Chopin, Robert Schumann, Ricahard Wagner, Giuseppe Verdi, dan Johannes Brahms.
      section
        h3 2. Tokoh Musik Jazz
        p beberapa tokoh legendaris yang sangat berpengaruh dalam perkembangan musik jazz, yaitu:
        ul  
          li Louis Armstrong (1901-1971)
          li Duke Ellington (1899-1974)
          li Charlie Parker (1920-1955)
          li Dizzy Gillespie (1917-1993)
        p Di Indonesia tokoh Jazz yang sangat berperan dalam perkembangan musik jazz antara lain adalah :
        ul
          li Abadi Soesman
          li Aminoto Kosim (arranger, musisi, dan pencipta lagu)
          li Bubi Chen (pemain keybord dan piano)
          li Erwin Gutawa (arranger, musisi dan pencipta lagu)
          li Gilang Ramadhan (pemain Drum)
          li Mus Mujiono (gitaris)
      section
        h3 3. Tokoh Musik Ska
        p Tokoh musik jazz tidak bisa lepas dari sejarah musik ska yang berasal dari Jamaika. Salah satu tokoh yang sangat berperan besar pada lahirnya musik ska adalah Cecil Bustamente Cambell yang terkenal dengan sebutan “Price Buster” dan gitarnya John Jerry
      section
        h3 4. Tokoh Musik Reggae
        p beberapa tokoh / musisi musik Reggae yang terkenal di indonesia dan mancanegara antara lain:
        ul
          li Bob Marley(Robert Nesta Marley)
          li Peter Tosh(Winston Hubert McIntosh)
          li Imanez(Abdul Firman Saad)
          li Tony Q Rastafara(Tony Waluyo Sukmoasih)
          li Steven and Coconut treez
      section 
        h3 5. Tokoh Musik POP
        p Musik POP sebenarnya adlah nama musik secara umum. Dengan demikian tokohnya pun kadang susah dibedakan antara musik POP dengan musik yang lainnya. Namun di Amerika, tokoh musik POP dengan musik pop yang pertama-tama disebut Frank Sinatra.
        p beberapa penyanyi pop dalam dan luar negeri yang terkenal di zamannya adalah Elton Jhon, Jesse McCartney, Michael Jackson Ricky Martin, Robbie Williams, Chantal Kreviazuk, Celine Dion, Madonna, Mariah Carey, Whitney Houston,Big Slamet, Hetty Koes Endang, Ruth Sahanaya, Krisdayanti, Agnes Monica
      section
        h3 6. Tokoh Musik country
        p beberapa tokoh musik country adalah Ray Price, Marty Robbins, Johnny Horton, Elvis Presley, Carl Perkins, Johnny Cash, Tantowi Yahya,  Ebiet G. Ade & Iwan Fals
      section
        h3 7. Tokoh Musik blues
        p beberapa tokoh musik blues adalah
        ul
          li W. C. Handy (1873-1958), "Sesepuh Blues"
          li Bessie Smith (1894-1937)
          li Memphis Minnie (1897-1973)
          li Alberto Cañizares (lahir tahun 1979)
          li Louis Armstrong, (1901-1971)
          li Louis Jordan (1908-1975)
          li Daniel Ibarra (lahir tahun 1979)
          li Robert Johnson (1909/1912-1938)
          li Herry Henger, (lahir tahun 1971)
      section
        h3 8. Tokoh Musik R&B
        p beberapa tokoh musik R&B adalah Alicia Keys, Aaliyah, Amy Winehouse, Beyonce, Cee-Lo Green, Erykah Badu, India.Arie, Jennifer Hudson, Jill Scott, John Legend, Joe (Joe Thomas), Lauryn Hill, Mariah Carey, Mary J. Blige, Maxwell, Ne-Yo, Robin Thicke, R. Kelly, Trey Songz, Usher dll

      section
        h1 Terapi Musik

        h3 Apa itu Terapi Musik..?
        ul
          li terapi musik adalah usaha meningkatkan kualitas fisik dan mental dengan rangsangan suara yang terdiri dari melodi, ritme, harmoni, timbre, bentuk dan gaya yang diorganisir sedemikian rupa hingga tercipta musik yang bermanfaat untuk kesehatan fisik dan mental.
          li memiliki kekuatan untuk mengobati penyakit dan meningkatkan kemampuan pikiran seseorang
          li Terapi universal dan bisa diterima oleh Semua orang.
          li Contoh : Musik membuat anda gembira, sedih, terharu, terasa sunyi, semangat, mengingatkan masa lalu dan lain-lain.
      section
        h3 lanjutan...
        p Contoh History : 
        ul
          li - Eva Vescelius yang banyak mempublikasikan terapi musik lewat tulisan-tulisannya. Ia percaya bahwa objek dari terapi musik adalah melakukan penyelarasan atau harmonisasi terhadap seseorang melalui vibrasi.
          li - Margaret Anderton, seorang guru piano berkebangsaan Inggris, yang mengemukakan tentang efek alat musik (khusus untuk pasien dengan kendala psikologis) karena hasil penelitiannya menunjukkan bahwa timbre (warna suara) musik dapat menimbulkan efek terapeutik.
      section
        h2 Contoh Terapi Musik :
        ul
          li - Terapi Gelombang otak
          li - Terapi Ibu Hamil
          li - Terapi Stroke
          li - Terapi Kelayuan pada Badan
          li - Terapi Jiwa
          li - terapi Mental
          li - Terapi Stres
      section
        h2 Beberapa manfaat terapi musik antara lain:
        ul
          li 1.  Meningkatkan kreatifitas.
          li 2.  Mengurangi kecemasan dan stress.
          li 3.  Meningkatkan intelegensi.
          li 4.  Mengubah mood menjadi lebih positif.
          li 5.  Meningkatkan konsentrasi.
          li 6.  Bikin rileks.
          li 7.  Mengatasi gangguan autis pada anak kecil.
          li 8.  Membuat emosi jadi lebih positif (senang/gembira).
          li 9.  Meningkatkan kemampuan bahasa.


    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild